.carouselWrapper {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.imageSlide {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional */
}
