.header {
  border-bottom: 1px solid #f2f4f7;
  background: #f7f7f7;
}

.headerContainer {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 24px 64px;
  align-items: center;
  /* gap: 450px; */
  margin: 0 auto;
}

.navHeader {
  display: flex;
  /* gap: 450px; */
  align-items: center;
}

.navImg {
  margin-right: 450px;
}

.headerMenuList {
  display: flex;
  gap: 32px;
}

.headerListItem {
  color: #101828;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration: none;
}

.listItemHome {
  margin-right: 32px;
}

.activeLink {
  color: #d84343 !important;
}
